<div id="jobs">
<div class="job">
<h2><%=@job.title%></h2>
<p><%@job.description%></p>
<% if !current_user.admin? %>
<%= link_to "Apply for Job", job_path(@job),method: :save,data: { confirm: "Applied succesfully" }, class: "btn btn-sm btn-default"%>
<%end%>
</div>
<div id="links">
<%= link_to "Back", root_path, class: "btn btn-sm btn-default"%>
<% if current_user.admin? %>
<%= link_to "Edit", edit_job_path(@job), class: "btn btn-sm btn-default"%>
<%= link_to "Delete",job_path(@job),method: :Delete, data: { confirm: "Are you sure?" },class: "btn btn-sm btn-default"%>
<%end%>
</div>
</div>