
<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html>
<head>
  <title>ZenHr</title>
  <%= stylesheet_link_tag 'application', media: 'all', 'data-turbolinks-track' => true %>
  <%= csrf_meta_tags %>
</head>
<body>
  <nav class="navbar navbar-default">
    <div class="container">
    <%= link_to "ZenHr", root_path, class: "navbar-brand" %>
      <ul class="nav navbar-nav"></ul>
      <% if user_signed_in? && !current_user.admin%>
      <%= link_to "Logout",destroy_user_session_path, class: "navbar-text navbar-right navbar-link" %>
      <% elsif user_signed_in? && current_user.admin%>
      <%= link_to "New Job", new_job_path, class: "navbar-text navbar-right navbar-link" %>
      <%= link_to "Logout",destroy_user_session_path, class: "navbar-text navbar-right navbar-link" %>
      <% else%>
      <%= link_to "Sign In", new_user_session_path, class: "navbar-text navbar-right navbar-link" %>
      <%= link_to "Sing Up", new_user_registration_path, class: "navbar-text navbar-right navbar-link" %>
    <%end%>
      </div>
  </nav>
  <div>
  <% if notice%> <p class="notice"><%= notice %></p> <%end%>
  <% if alert%> <p class="alert"><%= alert %></p><%end%>
  <div>
  <div class="container">
    <div class="col-md-6 col-md-offset-3">
      <%= yield %>
    </div>
  </div>
</body>
</html>